# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Databases and cache
*.db
*.sqlite
*.sqlite3

# Logs
*.log
npm-debug.log*

# System and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
